.listItem {
  display: flex;
  border: 2px solid #000;
  color: #000;
  width: 700px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.listItemId {
  padding-left: 3%;
  margin-right: 25%;
  color:#000;
}
.listItemBalans{
  color: rgb(2, 59, 2);
}

.listItemButton {
  height: 25px;
  border-radius: 4px;
  width: 30px;
  padding: 0 px;
  margin-left: auto;
  background: rgb(218, 206, 206);
  cursor: pointer;
}
